;; Protean integration test reference codex
;;
;; Models a simple RESTful API for simulation,
;; simulation testing and integration testing.

{
  :beers {
    :paths {
      "token" {
        :doc "Get an auth token"
        :rsp {
          :success-code 200
          :body-res "access_token"
          :body {"access_token" "mytoken" "token_type" "bearer"}
        }
      }

      "starches" {
        :doc "Get starch sources"
        :req {:headers {"Authorization" "psv+Bearer token"}}
        :rsp {
          :success-code 200 
          :body #{"/starches/wheat" "/starches/lager-starch"}
        }
      }

      "starches/pick" {
        :doc "Get a starch source suitable for a specific drink type"
        :req {
          :headers {"Authorization" "psv+Bearer token"}
          :req-params {"drink" "psv+drink"}
        }
        :rsp {:success-code 200 :content-type "text/plain" :body "/starches/wheat"}
      }

      "yeasts" {
        :doc "Get yeasts"
        :req {:headers {"Authorization" "psv+Bearer token"}}
        :rsp {
          :success-code 200
          :body #{"/yeasts/yeast" "/yeasts/lager-yeast"}
        }
      }

      "yeasts/pick" {
        :doc "Get a yeast suitable for a specific drink type"
        :req {
          :headers {"Authorization" "psv+Bearer token"}
          :req-params {"drink" "psv+drink"}
        }
        :rsp {:success-code 200 :content-type "text/plain" :body "/yeasts/yeast"}
      }

      "flavourings" {
        :doc "Get flavourings"
        :req {:headers {"Authorization" "psv+Bearer token"}}
        :rsp {
          :success-code 200
          :body #{"/flavourings/golding-hops" "/flavourings/cascade-hops"}
        }
      }

      "flavourings/pick" {
        :doc "Get a flavouring suitable for a specific drink type"
        :req {
          :headers {"Authorization" "psv+Bearer token"}
          :req-params {"drink" "psv+drink"}
        }
        :rsp {:success-code 200 :content-type "text/plain" :body "/flavourings/golding-hops"}
      }

      "brew" {
        :doc "Brew a drink given a bag of ingredients"
        :req {
          :method :post
          :headers {"Authorization" "psv+Bearer token" "Content-Type" "application/json"}
          :body {
            "starch"     "/starches/psv+"
            "yeast"      "/yeasts/psv+"
            "flavouring" "/flavourings/psv+"
          }
        }
        :rsp {:success-code 200 :body "/drinks/ale"}
      }
    }
  }
}
